<div class="table-responsive">
  <table class="table table-bordered custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Image</th>
        <th>Collaborators</th>
        <th>Privacy</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pin of pins">
        <td>{{ pin.title }}</td>
        <td>
          <img [src]="pin.file" alt="Pin Image" width="100" />
        </td>
        <td>{{ pin.collaborators }}</td>
        <td>{{ pin.privacy }}</td>
      </tr>
    </tbody>
  </table>
</div>
