<div class="container mt-5">
  <div class="d-flex flex-column align-items-end mb-3">
    <button class="custom-button" (click)="openCustomerDialog()">
      + Add Customer
    </button>
    <button class="custom-button" (click)="openPinDialog()">+ Add Pin</button>
  </div>

  <!-- <button class="custom-button" (click)="clearDialog()">clear data</button> -->
  <!-- <table class="table table-bordered custom-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Email</th>
        <th>Region</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>{{ customer.title }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.region }}</td>
        <td>{{ customer.country }}</td>
      </tr>
    </tbody>
  </table> -->
  <app-pin-list></app-pin-list>
</div>
